<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="ConnectionStringSql" connectionString="Data Source=(local);Initial Catalog=SIAF;User ID=auc;Password=1234"
   providerName=".NET Framework Data Provider for SQL Server" />
  <add name="InfoGes.Properties.Settings.stringConnection" connectionString="server=localhost;user id=root;database=siaf;Password=7654321"
   providerName="MySql.Data.MySqlClient" />
  <add name="InfoGesRegional.Properties.Settings.stringConnection"
   connectionString="server=localhost;user id=root;database=siaf;Password=7654321"
   />
 </connectionStrings>
	<appSettings>
		<add key="WGImagePath" value="./Imageswg/" />
		<add key="WGLicenseKey" value="FB5B-BO9G-ODWQ-NBXT" />
		<add key="WGSMTPSERVER" value="" />
		<add key="WgDesignTime" value="false" />
		<add key="WGWidth" value="100%" />
		<add key="WGEnableCallBack" value="true" />
		<add key="IdTipoConexion" value="MYSQL" />
		<!--<add key="IdTipoConexion" value="SQLSERVER"/>-->
	</appSettings>
	<system.web>
		<!--<httpRuntime executionTimeout="84600" maxRequestLength="846000" useFullyQualifiedRedirectUrl="false"
  minFreeThreads="84600" minLocalRequestFreeThreads="84600" appRequestQueueLimit="84600" />-->
		<globalization uiCulture="es-pe" culture="es-pe" />
		<customErrors mode="Off" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" batch="false" targetFramework="4.0">
			<assemblies>
				<add assembly="DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Printing.v13.1.Core, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Data.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="DevExpress.Utils.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v13.1.Core, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Docs.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.XtraCharts.v13.1.Web, Version=13.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraCharts.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Charts.v13.1.Core, Version=13.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" /></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Windows"></authentication>-->
		<authentication mode="Forms">
			<forms name="InfoGesRegional" path="/" loginUrl="default.aspx" protection="All" timeout="30" slidingExpiration="false" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
			<!--
      <add path="WebResource.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" validate="false" />
      <add path="*.axd" verb="*" type="System.Web.HttpNotFoundHandler" validate="false" />
-->
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
		</httpHandlers>
		<pages theme="Office2003 Blue" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<httpModules>
			<add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</httpModules>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
	<runtime>
		<NetFx40_LegacySecurityPolicy enabled="true" />
	</runtime>
	<location path="Modules">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!-- especificar las paginas que tendran que ser accedidas 
  con la pagina principal de login, en este caso se definido
  el directorio raiz -->
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
</configuration>
